*{
margin: 0%;
padding: 0%;
}
$primary-color: hsl(240, 4%, 5%);
$secondary-color: hsl(0, 2%, 63%);
.box1_box2{
    display: flex;
    margin: 5%;
    box-shadow: 5px 5px 25px black;
    .box1{
        .box1__image__food{
            .img1{
                width: 95%;
            }
        }
    }
    .box2{
        width: 50%;
        margin-left:3%;
        .box2__rect{
            margin-top: 8%;
            }
            .box2__rect__rectangle{
                width: 80px;
                height: 36px;
                border-radius: 10px;
                position: relative;
                background-color: rgb(76, 153, 127);
                h1{
                    color: #ffffff;
                    position: absolute;
                    left: 6%;
                    top: 10%;  
            }
        }
        .box2__article{
            margin-top: 8%;
            width: 85%;
            p{
                color: $secondary-color;
                margin-top: 8%;
            }
            h2{
                color: $primary-color;
            }
        }
        .box2__nav{
            display: flex;
            justify-content: space-between;
            margin-top: 10%;
            .box2__nave__image{
                display: flex;
                width: 42%;
                .image{
                    border-radius: 50%;
                }
                h5{
                    color: $primary-color;
                    margin-top: 9%;
                    margin-left: 7%;
                }
            }
            .line{
                width: 40%;
                height: 1%;
                border-radius: 0%;
            }
            .box2__nave__date{
                margin-top: 4%;
                margin-right: 17%;
                p{
                    color: $secondary-color;
                }
            }
        }
    }
}

@media (max-width: 375px){
    .box1_box2{
        display:none;
        // flex-direction: column;
    }









}
